
kentik:
  apiEndpoint: 'https://grpc.api.kentik.com'
  deviceURI: '/device/v202308beta1/device'
  X-CH-Auth-Email: '<KENTIK_EMAIL>'
  X-CH-Auth-API-Token: '<KENTIK_API_TOKEN>'
  Content-Type: 'application/influx'
  planid: '<KENTIK_METRIC_PLAN_ID>'
  debug: false
