
kentik:
  apiEndpoint: 'https://grpc.api.kentik.com'
  deviceURI: '/kmetrics/v202207/metrics/api/v2/write?bucket=&org=&precision=ns'
  X-CH-Auth-Email: '<KENTIK_EMAIL>'
  X-CH-Auth-API-Token: '<KENTIK_API_TOKEN>'
  Content-Type: 'application/influx'
  debug: false
